.tonecran {
	display: flex;
	justify-content: center;
	align-items: center;
}

.titre {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Pokemon';
}

.coteacote {
	display: none;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #222;
		color: white;
	}
	.touchebas,
	.touchehaut,
	.touchegauche,
	.touchedroite,
	.central {
		background-color: white;
		color: black;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background: #fff;
		color: black;
	}
}

@media screen and (min-width: 700px) {
	.App {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.coteacote {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.titre {
		font-size: 0.9em;
		font-family: 'Pokemon';
	}
	.top {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		background-color: gray;
		height: 20px;
		width: 332px;
		border-radius: 20px 20px 0px 0px;
	}
	.ontop {
		position: relative;
		border-radius: 5px 5px 0px 0px;
		background-color: rgb(25, 25, 25);
		height: 5px;
		width: 302px;
	}
	.center {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.grille {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.onleft {
		display: flex;
		justify-content: flex-end;
		background-color: gray;
		height: 292px;
		width: 20px;
	}
	.onleftop {
		display: flex;
		background-color: rgb(25, 25, 25);
		height: 292px;
		width: 5px;
	}
	.onright {
		background-color: gray;
		justify-content: flex-start;
		height: 292px;
		width: 20px;
	}
	.onrightop {
		display: flex;
		background-color: rgb(25, 25, 25);
		height: 292px;
		width: 5px;
	}
	.foot {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		background-color: gray;
		height: 20px;
		width: 332px;
		border-radius: 0px 0px 40px 40px;
	}
	.onfoot {
		position: relative;
		border-radius: 0px 0px 20px 20px;
		background-color: rgb(25, 25, 25);
		height: 5px;
		width: 302px;
		z-index: 1;
	}
	input {
		opacity: 0;
	}
	.croix {
		display: grid;
		grid-template-columns: repeat(3, 48px);
		grid-template-rows: repeat(5, 48px);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		margin: 20px;
	}
	.touchehaut {
		grid-area: 1 / 2 / 2 / 3;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.8);
		border-radius: 10px 10px 0px 0px;
		color: white;
		transition: 0.5s;
	}

	.touchegauche {
		grid-area: 2 / 1 / 3 / 2;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.8);
		border-radius: 10px 0px 0px 10px;
		color: white;
		transition: 0.5s;
	}
	.central {
		grid-area: 2 / 2 / 3 / 3;
		background-color: rgba(0, 0, 0, 0.8);
	}
	.touchedroite {
		grid-area: 2 / 3 / 3 / 4;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.8);
		border-radius: 0px 10px 10px 0px;
		color: white;
		transition: 0.5s;
	}
	.touchebas {
		grid-area: 3 / 2 / 4 / 3;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.8);
		border-radius: 0px 0px 10px 10px;
		color: white;
		transition: 0.5s;
	}

	@media (prefers-color-scheme: dark) {
		.touchehaut,
		.touchebas,
		.touchegauche,
		.touchedroite,
		.central {
			background-color: white;
			color: black;
		}
	}

	.explicationfleche {
		grid-area: 4 / 1 / 6 / 4;
		display: flex;
		justify-content: center;
		width: 150px;
		margin-top: 20px;
		font-size: 0.85em;
	}
	.boutonsgrand {
		display: none;
	}
	.boutonspetit {
		display: grid;
		grid-template-columns: repeat(3, 80px);
		grid-template-rows: repeat(4, 80px);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}

	.boutonentree {
		grid-area: 1 / 2 / 2 / 3;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 40px 40px 40px 40px;
		background-color: rgb(189, 61, 157);
		color: white;
		font-size: 2em;
	}
	.boutonentree:hover {
		background-color: rgba(189, 61, 157, 0.7);
	}
	.txtentree {
		grid-area: 3 / 1 / 5 / 4;
		font-size: 0.85em;
	}
	.tonecran {
		display: none;
	}
	.touchehaut:hover {
		background-color: rgba(0, 0, 0, 0.5);
	}
	.touchegauche:hover {
		background-color: rgba(0, 0, 0, 0.5);
	}
	.touchedroite:hover {
		background-color: rgba(0, 0, 0, 0.5);
	}
	.touchebas:hover {
		background-color: rgba(0, 0, 0, 0.5);
	}
}

@media screen and (min-width: 1440px) {
	.boutonspetit {
		display: none;
	}
	.tonecran {
		display: none;
	}
	.boutonsgrand {
		display: grid;
		grid-template-columns: repeat(6, 80px);
		grid-template-rows: repeat(5, 80px);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}
	.boutonclavier {
		grid-area: 2 / 2 / 3 / 3;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 40px 40px 40px 40px;
		background-color: rgb(189, 61, 157);
		color: white;
		font-size: 2em;
	}
	.boutonclavier:hover {
		background-color: rgba(189, 61, 157, 0.7);
	}
	.boutonentree {
		grid-area: 2 / 4 / 3 / 5;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 40px 40px 40px 40px;
		background-color: rgb(189, 61, 157);
		color: white;
		font-size: 2em;
	}
	.boutonentree:hover {
		background-color: rgba(189, 61, 157, 0.7);
	}
	.txtclavier {
		grid-area: 4 / 1 / 6 / 3;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		text-align: justify;
		font-size: 1.5em;
	}
	.txtentree {
		grid-area: 4 / 4 / 6 / 6;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		text-align: justify;
		font-size: 1.5em;
	}
	.touchehaut:hover {
		background-color: rgba(0, 0, 0, 0.5);
	}
	.touchegauche:hover {
		background-color: rgba(0, 0, 0, 0.5);
	}
	.touchedroite:hover {
		background-color: rgba(0, 0, 0, 0.5);
	}
	.touchebas:hover {
		background-color: rgba(0, 0, 0, 0.5);
	}
}

@media screen and (min-width: 1920px) {
	.App {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		width: 100%;
	}
	.coteacote {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.titre {
		display: flex;
		font-size: 2.5em;
		font-family: 'Pokemon';
		margin: 30px;
	}
	.top {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		background-color: gray;
		height: 40px;
		width: 660px;
		border-radius: 20px 20px 0px 0px;
	}
	.ontop {
		position: relative;
		border-radius: 5px 5px 0px 0px;
		background-color: rgb(25, 25, 25);
		height: 20px;
		width: 620px;
	}
	.center {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.grille {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.onleft {
		display: flex;
		justify-content: flex-end;
		background-color: gray;
		height: 580px;
		width: 40px;
	}
	.onleftop {
		display: flex;
		background-color: rgb(25, 25, 25);
		height: 580px;
		width: 20px;
	}
	.onright {
		background-color: gray;
		justify-content: flex-start;
		height: 580px;
		width: 40px;
	}
	.onrightop {
		display: flex;
		background-color: rgb(25, 25, 25);
		height: 580px;
		width: 20px;
	}
	.foot {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		background-color: gray;
		height: 40px;
		width: 660px;
		border-radius: 0px 0px 40px 40px;
	}
	.onfoot {
		position: relative;
		border-radius: 0px 0px 20px 20px;
		background-color: rgb(25, 25, 25);
		height: 20px;
		width: 620px;
		z-index: 1;
	}
	input {
		opacity: 0;
	}
	.croix {
		display: grid;
		grid-template-columns: repeat(3, 64px);
		grid-template-rows: repeat(5, 64px);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		margin: 20px;
	}
	.touchehaut {
		grid-area: 1 / 2 / 2 / 3;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.8);
		border-radius: 20px 20px 0px 0px;
		color: white;
		font-size: 1.5em;
		transition: 0.5s;
	}
	.touchehaut:hover {
		background-color: rgba(0, 0, 0, 0.5);
	}
	.touchegauche {
		grid-area: 2 / 1 / 3 / 2;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.8);
		border-radius: 20px 0px 0px 20px;
		color: white;
		font-size: 1.5em;
		transition: 0.5s;
	}
	.touchegauche:hover {
		background-color: rgba(0, 0, 0, 0.5);
	}
	.central {
		grid-area: 2 / 2 / 3 / 3;
		background-color: rgba(0, 0, 0, 0.8);
	}
	.touchedroite {
		grid-area: 2 / 3 / 3 / 4;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.8);
		border-radius: 0px 20px 20px 0px;
		color: white;
		font-size: 1.5em;
		transition: 0.5s;
	}
	.touchedroite:hover {
		background-color: rgba(0, 0, 0, 0.5);
	}
	.touchebas {
		grid-area: 3 / 2 / 4 / 3;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.8);
		border-radius: 0px 0px 20px 20px;
		color: white;
		font-size: 1.5em;
		transition: 0.5s;
	}
	.touchebas:hover {
		background-color: rgba(0, 0, 0, 0.5);
	}
	.explicationfleche {
		grid-area: 4 / 1 / 6 / 4;
		display: flex;
		justify-content: center;
		width: 200px;
		margin-top: 20px;
		font-size: 1.5em;
	}
	.boutonsgrand {
		display: grid;
		grid-template-columns: repeat(6, 80px);
		grid-template-rows: repeat(5, 80px);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}
	.boutonclavier {
		grid-area: 2 / 2 / 3 / 3;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 40px 40px 40px 40px;
		background-color: rgb(189, 61, 157);
		color: white;
		font-size: 2em;
	}
	.boutonclavier:hover {
		background-color: rgba(189, 61, 157, 0.7);
	}
	.boutonentree {
		grid-area: 2 / 4 / 3 / 5;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 40px 40px 40px 40px;
		background-color: rgb(189, 61, 157);
		color: white;
		font-size: 2em;
	}
	.boutonentree:hover {
		background-color: rgba(189, 61, 157, 0.7);
	}
	.txtclavier {
		grid-area: 4 / 1 / 6 / 3;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		text-align: justify;
		font-size: 1.5em;
	}
	.txtentree {
		grid-area: 4 / 4 / 6 / 6;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		text-align: justify;
		font-size: 1.5em;
	}
	.boutonspetit {
		display: none;
	}
	.tonecran {
		display: none;
	}
	@media (prefers-color-scheme: dark) {
		.touchehaut,
		.touchebas,
		.touchegauche,
		.touchedroite,
		.central {
			background-color: white;
			color: black;
		}
		.touchehaut:hover,
		.touchebas:hover,
		.touchegauche:hover,
		.touchedroite:hover {
			background-color: rgba(255, 255, 255, 0.75);
		}
	}
}
